* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

/*Header - Fondo negro*/

.first-nav {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.first-nav p {
    margin-left: 90px;
}

.first-nav-select select {
    background-color: black;
    color: white;
    border: 1px solid black;
    margin-right: 20px;
}

/*Header - Fondo naranja*/

.second-nav {
    background-color: #f0a83e;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.second-nav img {
    width: 166.38px;
    height: 23px;
    margin-left: 20px;
}

.second-nav-list ul li {
    list-style-type: none;
    float: left;
    text-align: justify;
    padding: 0;
    margin-right: 20px;
}

/*Header - Banner*/

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 409px;
    width: 100%;
    background-image: url("./img/fondo-verde-grande.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.banner-title {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
    line-height: 40px;
}

.welcome-title {
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 400;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 10px;
}

.banner-title .welcome-subtitle {
    font-weight: 400;
    font-size: 16px;
}

.banner-title button {
    background-color: #F0A83E;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    padding: 15px;
    border-radius: 5px;
    border: none;
}

/*Main - Logo y Titulo*/

.title-main {
    display: block;
    text-align: center;
    padding-top: 20px;
    line-height: 40px;
}

.title-main img {
    max-width: 67px;
    max-height: 71px;
}

.title-main div h1{
    display: flex;
    flex-direction: column;
    font-size: 40px;
}

.title-main div ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    line-height: 70px;
}

.title-main div ul a{
    text-decoration: none;
    color: #666666;
    padding: 10px;
}

/*Main - Productos*/

.products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 95px;
    padding-right: 95px;
}

.products-box {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.products-box p {
    font-size: 15px;
    font-weight: 600;
    color: #3C2313;
    line-height: 20px;
}

.products-box .price {
    color: #F0A83E;
}

/*Main - Contáctanos*/

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

.contacts-title {
    padding-bottom: 10px;
}

.contacts input{
    display: flex;
    margin: 10px;
    background-color: #3C2313;
    border-radius: 15px;
    width: 340px;
    height: 40px;
    border: none;
    padding-left: 20px;
}

.contacts input::placeholder {
    color: #ffffff;
    font-size: 9px;
}

.contacts button {
    border: none;
    border-radius: 15px;
    width: 110px;
    height: 34px;
    color: #ffffff;
    margin-top: 20px;
}

.contacts .button-1 {
    background-color: #8A8787;
}

.contacts .button-2 {
    background-color: #F0A83E;
}

/*Main - Suscripción*/

.suscripcion {
    background-color: #F0A83E;
    display: flex;
    height: 60px;
    margin-top: 50px;
    width: 100%;
}

.suscripcion img {
    margin-left: 23px;
    max-width: 40px;
    max-height: 40px;
    align-self: center;
}

.suscripcion p {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    padding-left: 10px;
    flex-wrap: wrap;
}

.suscripcion input {
    border-radius: 15px;
    border: none;
    width: 346px;
    height: 40px;
    font-size: 9px;
    align-self: center;
    margin-right: 5px;
    margin-top: 10px;
    position: relative;
    left: 110%;
    padding-left: 20px;
}

.suscripcion button {
    background-color: #3C2313;
    color: #ffffff;
    border-radius: 15px;
    border: none;
    width: 70px;
    height: 34px;
    font-size: 9px;
    align-self: center;
    position: relative;
    left: 110%;
    
}

/*Footer - Información*/

.informacion {
    background-color: #3C2313;
}

.informacion-logo {
    display: flex;
    position: relative;
    left: 80%;
    top: 130px;
    max-width: 166px;
    max-height: 23px;
}

.informacion-data {
    display: flex;
    margin-left: 7%;
    max-width: 66px;
    max-height: 66px;
    margin-bottom: 23px;
}

.informacion-data .data-title {
    display: flex;
    margin-left: 20px;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
}

.informacion .informacion-data .data {
    font-size: 10px;
    font-weight: 700;
    color: #8A8787;
    margin-left: 20px
}

/*Footer - Información*/

.copyright {
    background-color: #222222;
    color: #ffffff;
    height: 20px;
    font-weight: 700;
    font-size: 10px;
    text-align: center;
    padding-top: 5px;
}
